//Native GLOBAL variables
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;

  --color-gray-light-1: #faf9f9;
  --color-gray-light-2: #f4f2f2;
  --color-gray-light-3: #f0eeee;
  --color-gray-light-4: #ccc;

  --color-gray-dark-1: #333;
  --color-gray-dark-2: #777;
  --color-gray-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0,0,0, .3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0, .06);
  --line: 1px solid var(--color-gray-light-2);
}

$bpoint-xl: 75em; //1200px / 16 = 75em
$bpoint-l: 68.75em;
$bpoint-m: 56.25em;
$bpoint-s: 37.5em;
$bpoint-xs: 31.25em;
$bpoint-xxs: 18.75em; //300px


* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px , 10px/16px = 62.5%

  @media only screen and (max-width: $bpoint-l) {
    font-size: 50%;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-gray-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;
}